/* common styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --heading_color: #fff;
    --desc-color: #ffffff9d;
    --bg-primary: #ff4400bb;
    --color-primary: #ff4400bb;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.maximum-width {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    color: rgba(255, 68, 0, 0.733);
    font-weight: 700;
    font-size: 45px;
    font-style: italic;
}

.section-title {
    color: var(--heading_color);
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-desc {
    text-align: center;
    width: 60%;
    margin: 20px auto;
    color: var(--desc-color);
}

#primary-btn {
    background-color: var(--bg-primary);
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px;
    border: 0;
}

/* nav style start */
.banner-bg {
    height: 100vh;
    background: linear-gradient(rgb(17, 17, 17), rgba(17, 17, 17, 0.966));
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    padding-top: 50px;
}

.list-container {
    display: flex;
    list-style: none;
    border: 1px solid rgba(255, 255, 255, 0.253);
    border-radius: 50px;
    padding: 10px 0;
}

.list-container li a {
    text-decoration: none;
    color: #ffffffb6;
    margin-right: 35px;
}


/* banner part style */
.banner {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: space-between;
}

.left {
    width: 40%;
}

.heading {
    color: #fff;
    font-size: 50px;
    font-weight: 600;
}

.heading span {
    font-family: "Dancing Script", cursive;
}

.description {
    color: rgba(255, 255, 255, 0.616);
    margin: 20px 0;
}

.download-btn {
    background: transparent;
    color: #fff;
    padding: 8px 30px;
    border-radius: 50px;
    border-color: #fff;
    margin-left: 10px;
}

.right {
    width: 40%;
    text-align: center;
    position: relative;
}

.right img {
    height: 450px;
}

.box1 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 190px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    bottom: 50px;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.box2 {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 190px;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 130px;
    right: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.circle {
    height: 30px;
    width: 30px;
    background-color: var(--bg-primary);
    border-radius: 100%;
}

.box-heading {
    color: var(--heading_color);
    font-weight: bold;
}

.size {
    font-size: 25px;
}

.box-desc {
    color: var(--desc-color);
}


/* habit section style */
.habit-section {
    background-color: rgba(0, 0, 0, 0.932);
    padding: 80px 0;
}

.card-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    margin-top: 50px;
}

.card {
    text-align: center;
}

.card-img {
    border-radius: 100%;
    margin: 0 auto;
    display: block;
    border: 1px solid white;
}

.card-title {
    color: var(--heading_color);
    margin: 15px 0 10px 0;
}

.card-desc {
    color: var(--desc-color);
    width: 80%;
    margin: 0 auto;
}









/* medial query */
/* mobile device */
@media screen and (max-width: 576px) {

    nav{
        padding-top: 30px;
    }
    
    .banner-bg,
    .habit-section {
        padding: 20px;
        height: auto;
    }

    .list-container {
        display: none;
    }

    .hamburger {
        height: 30px;
    }

    .banner {
        flex-direction: column;
        margin-top: 80px;
        height: auto;
    }

    .card-container {
        flex-direction: column;
    }

    .left,
    .right,
    .section-desc {
        width: 100%;
    }

    .heading {
        font-size: 35px;
    }
}


/* medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .hamburger {
        display: none;
    }
}


/* large device */
@media screen and (min-width: 993px) {
    .hamburger {
        display: none;
    }
}